<!DOCTYPE html>
<html lang="en">
<head>
  <title>Python Flask Todo App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .header{
color:white;

background: #C6FFDD;  
background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  
background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
</style>
</head>
<body>

<div class="header jumbotron text-center">
  <h1>My TODO App</h1>
  <p>Python - Flask - PostgreSQL - SQLAlchemy</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Add Todo</h3>
    <input type="text" name="name" id= "name" class = "form-control" placeholder="todo name">
    <br>
    <input type="text" name="description" id = "description" class = "form-control" placeholder="todo description">
    <br>
   
    <select name = "priority" id = "priority" class = "form-control">
        <option value="00">Priority</option>
        <option value="2">Urgent</option>
        <option value="1">Medium</option>
        <option value="0">Normal</option>
    </select>
    <br>
    <button type="button" name="save" id ="save-todo" class = "form-control btn btn-success">Save</button>

    </div>
    <div class="col-sm-6" id = "todo_list">
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
             <i class="fa fa-trash" style="font-size:20px;color:red;"></i>
             <i class="fa fa-edit" style="font-size:20px"></i>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>
    <div class="col-sm-2">
      <h3>Proprity Counter</h3>        
      <p id = "urgent">Urgent: 1</p>
      <p id="medium">Medium: 2</p>
      <p id="low">Low:0</p>
    </div>
  </div>
</div>
<script>
 
  document.getElementById('save-todo').addEventListener('click', function(){

    save_todo()
  })
  function save_todo(){
    let name = document.getElementById('name').value
    let description = document.getElementById('description').value
    let select = document.getElementById('priority');
    let priority = select.options[select.selectedIndex].value;

    fetch('http://localhost:5000/add_todo', {
        method: 'POST',
        body: JSON.stringify({
            "name": name,
            "description": description,
            "priority": priority
        }),
        headers: {
          'Content-type': 'application/json',
        }
        })
        .then(function(response){ 
                 return response.json()
                })
        .then(function(data)
            {
              console.log(data)
                // retrive inserted data
               select_data()
            }).catch(error => console.log(error)); 
   

}
function select_data(){
  let urgent = 0;
  let medium =0;
  let low = 0;

    fetch('http://localhost:5000/get_todos', {
        method: 'GET',
       
        headers: {
          'Content-type': 'application/json',
        }
        })
        .then(function(response){ 
                 return response.json()
                })
        .then(function(data)
            {
                let table_data =   `
                <h3>Available Todos</h3>
                <table class="table">
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Description</th>
                                          <th scope="col">Priority</th>
                                          <th scope="col">Action</th>
                                        </tr>`;
                data.forEach(element => {
                  if(element.priority==2){
                        urgent = urgent+1
                  }else if(element.priority==1){
                    medium = medium+1
                  }else if(element.priority==0){
                    low = low+1
                  }
                    table_data += '<tr>'
                    table_data += '<td>'+element.id+'</td>'
                    table_data += '<td>'+element.name+'</td>'
                    table_data += '<td>'+element.description+'</td>'
                    table_data += '<td>'+element.priority+'</td>'
                    table_data += `<td>
                                    <i class="fa fa-trash" style="font-size:20px;color:red;"></i>
                                    <i class="fa fa-edit" style="font-size:20px"></i>
                                    </td>`
                    table_data += '</tr>'
                });
            table_data += `</table>`
                /// append retrived data to html table 
     
                let content = document.getElementById('todo_list');
                    content.innerHTML = table_data

                    document.getElementById('urgent').innerText= "Urgent: "+urgent;
                    document.getElementById('medium').innerText= "Medium: "+medium;
                    document.getElementById('low').innerText= "Low: "+low;

            }).catch(error => console.log(error)); 
}


select_data()


</script>

</body>
</html>
